* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  /* height: 100vh; */
  background: rgb(226, 110, 110);
}
section {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin-top: 40px;
  /* background: red; */
  width: 90%;
  /* height: 90%; */
  display: flex;
  flex-direction: column;
}
.top {
  width: 100%;
  display: flex;
  font-size: 32px;
  /* background: blue; */
  align-items: center;
  justify-content: space-evenly;
}
.bottom {
  margin-top: 80px;
  display: flex;
  flex: grow;
  width: 100%;
  /* height:100%; */
  background: rgb(226, 110, 110);
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}
.seat {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: rgb(6, 74, 199);
  border: 4px rgb(226, 110, 110) solid;
}

.seat:hover {
  transform: scale(1.05);
}
.occupied {
  background: rgb(192, 29, 29);
}
